<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg>
<svg width='1080' height="1920">
    <rect x="600" y="30" width="540" height="35" style="fill:rgb(150, 150, 150)"></rect>
    <text font-size="20" x="620" y="55">miejsce wystawienia</text>
    <text font-size="20" x="620" y="90">{{miejsceWystawienia}}</text>
    <rect x="600" y="120" width="540" height="35" style="fill:rgb(150, 150, 150)"></rect>
    <text font-size="20" x="620" y="145">Data Wystawienia</text>
    <text font-size="20" x="620" y="180">{{dataWystawienia}}</text>
    <rect x="600" y="210" width="540" height="35" style="fill:rgb(150, 150, 150)"></rect>
    <text font-size="20" x="620" y="235">Data Wykonania usługi</text>
    <text font-size="20" x="620" y="270">{{dataWykonaniaUslugi}}</text>
    <rect x='20' y='370' width="400" height="35" style="fill:rgb(150, 150, 150)"></rect>
    <text font-size="20" x="157.5" y="395">Sprzedawca</text>
    <text font-size="20" x="40" y="430">{{firmasprzedawcza.nazwa}}</text>
    <text font-size="20" x="40" y="465">{{firmasprzedawcza.nip}}</text>
    <text font-size="20" x="40" y="500">{{firmasprzedawcza.ulica}}</text>
    <text font-size="20" x="40" y="535">{{firmasprzedawcza.addres}}</text>
    <rect x='660' y='370' width="400" height="35" style="fill:rgb(150, 150, 150)"></rect>
    <text font-size="20" x="812.075" y="395">Nabywca</text>
    <text font-size="20" x="680" y="430">{{firmanabywcza.nazwa}}</text>
    <text font-size="20" x="680" y="465">{{firmanabywcza.nip}}</text>
    <text font-size="20" x="680" y="500">{{firmanabywcza.ulica}}</text>
    <text font-size="20" x="680" y="535">{{firmanabywcza.addres}}</text>
</svg>